---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/Header.astro';
import Hero from '@/sections/Hero.astro';
import Slider from '@/sections/Slider.astro';
import OurMission from '@/sections/OurMission.astro';
import Footer from '@/components/Footer.astro';
import CardsInfo from '@/sections/CardsInfo.astro';
import AboutUs from '@/sections/AboutUs.astro';
import ContactUs from '@/sections/ContactUs.astro';
import BatteryChange from '@/sections/BatteryChange.astro';
import UsedDevices from '@/sections/UsedDevices.astro';
import Contact from '@/sections/Contact.astro';
---

<Layout title="FullRenew">
	<main class="flex flex-col gap-16">
		<Header></Header>
		<Hero></Hero>
		<Slider></Slider>
		<OurMission></OurMission>
		<CardsInfo></CardsInfo>
		<AboutUs></AboutUs>
		<UsedDevices></UsedDevices>
		<BatteryChange></BatteryChange>
		<ContactUs></ContactUs>
		<Contact></Contact>
		<Footer></Footer>
	</main>
</Layout>
