---
import Layout from '@/layouts/Layout.astro';
import Header from '@/sections/Header.astro';
import Hero from '@/sections/Hero.astro';
import Slider from '@/components/Slider.astro';
import OurMission from '@/sections/OurMission.astro';
import Footer from '@/sections/Footer.astro';
// import CardsInfo from '@/sections/CardsInfo.astro';
import AboutUs from '@/sections/AboutUs.astro';
import ContactUs from '@/sections/ContactUs.astro';
import BatteryChange from '@/sections/BatteryChange.astro';
import UsedDevices from '@/sections/UsedDevices.astro';
import ContactForm from '@/sections/ContactForm.astro';
import MobileVariety from '@/sections/MobileVariety.astro';
import Delivery from '@/sections/Delivery.astro';
import MobileDegree from '@/sections/MobileDegree.astro';
---

<Layout title="FullRenew">
	<main class="size-full flex flex-col gap-10 md:gap-20">
		<Header></Header>
		<Hero></Hero>
		<Slider lazyLoading={false}></Slider>
		<!-- <CardsInfo></CardsInfo> -->
		<AboutUs></AboutUs>
		<UsedDevices></UsedDevices>
		<MobileDegree></MobileDegree>
		<BatteryChange></BatteryChange>
		<ContactUs></ContactUs>
		<MobileVariety></MobileVariety>
		<Delivery></Delivery>
		<ContactForm></ContactForm>
		<OurMission></OurMission>
		<Slider lazyLoading={true}></Slider>
		<Footer></Footer>
	</main>
</Layout>