---

---
<footer class="mt-auto flex flex-col items-center justify-center gap-4">
    <h4 class="text-white font-semibold font-xl">SUSCRIBETE A NUESTRA NEWSLETTER</h4>
    <p class="text-neutral-300 w-1/2 text-center">Suscríbete a nuestro boletín para recibir noticias, actualizaciones gratuitas de contenido interesante y nuevos productos lanzados</p>
    <form action="">
        <span class="relative border border-neutral-300 rounded-lg p-2">
            <input class="bg-transparent text-white outline-none px-2 text-xl h-full" type="text" placeholder="Introduce tu email aqui">
            <button class="absolute top-0 right-0 bg-white text-neutral-900 px-1 h-full">Send</button>
        </span>
    </form>
</footer>