---

---
<header class="flex flex-row justify-between py-8">
    <h1 class="text-white text-3xl font-bold">FullRenew</h1>
    <nav class=" text-white/80 flex flex-row gap-4 hover:*:text-white">
        <a href="/">Inicio</a>
        <a href="#aboutUs">Sobre Nosotros</a>
        <a href="#contactUs">Contactanos</a>
    </nav>
</header>