---

---
<section id="aboutUs" class="grid grid-cols-2 items-center justify-items-center gap-4 py-12">
    <span class="flex flex-col gap-6">
        <h2 class="text-white text-3xl font-bold">Sobre Nosotros</h2>
        <div class="flex flex-col gap-4 text-neutral-300">
            <p>
                Fundamos Fullrenew a finales de 2019, tras nuestra experiencia en una empresa de telefonía especializada en reacondicionamiento. Comenzamos con la venta al consumidor final (B2C) a través de plataformas ecommerce, y con el tiempo, hemos evolucionado para enfocarnos en el mercado mayorista (B2B) en toda Europa, distribuyendo iPhones reacondicionados a empresas y tiendas.
            </p>
            <p>
                Somos dos socios apasionados por la tecnología Apple, con un equipo de 7 personas dedicadas. Estamos siempre a la vanguardia tecnológica y probamos todos nuestros dispositivos con el software Nsystool, garantizando la máxima calidad.
            </p>
            <p>
                Nuestra presencia se extiende por toda Europa, donde trabajamos estrechamente con clientes, proporcionándoles soluciones tecnológicas accesibles y de alta calidad. Además, reinvertimos constantemente en investigación y desarrollo (I+D) para mejorar nuestros productos y procesos, asegurando que nuestros clientes reciban siempre lo mejor en tecnología reacondicionada.
            </p>
        </div>
    </span>
    <img class="h-full w-auto aspect-video" src="./OurMission.webp" alt="">
</section>