---

---
<section id="aboutUs" class="grid md:grid-cols-2 justify-items-center gap-2 md:gap-4 py-6 md:py-12 relative min-h-min overflow-visible">
    <span class="flex flex-col gap-3 md:gap-6 md:sticky top-10 overflow-hidden h-fit">
        <h2 class="text-white text-xl md:text-3xl font-bold">Sobre Nosotros</h2>
        <div class="flex flex-col gap-4 text-neutral-300 text-sm md:text-base">
            <p>
                Fundamos Fullrenew a finales de 2019, tras nuestra experiencia en una empresa de telefonía especializada en reacondicionamiento. Comenzamos con la venta al consumidor final (B2C) a través de plataformas ecommerce, y con el tiempo, hemos evolucionado para enfocarnos en el mercado mayorista (B2B) en toda Europa, distribuyendo iPhones reacondicionados a empresas y tiendas.
            </p>
            <p>
                Somos dos socios apasionados por la tecnología Apple, con un equipo de 7 personas dedicadas. Estamos siempre a la vanguardia tecnológica y probamos todos nuestros dispositivos con el software Nsystool, garantizando la máxima calidad.
            </p>
            <p>
                Nuestra presencia se extiende por toda Europa, donde trabajamos estrechamente con clientes, proporcionándoles soluciones tecnológicas accesibles y de alta calidad. Además, reinvertimos constantemente en investigación y desarrollo (I+D) para mejorar nuestros productos y procesos, asegurando que nuestros clientes reciban siempre lo mejor en tecnología reacondicionada.
            </p>
        </div>
        <div>
            <span class=" border-neutral-700 flex flex-row justify-between py-4 px-2">
                <h2 class="text-neutral-300">Año Fundación</h2>
                <p class="text-white">2020</p>
            </span>
            <span class="border-y border-neutral-700 flex flex-row justify-between py-4 px-2">
                <h2 class="text-neutral-300">Empleados</h2>
                <p class="text-white">7</p>
            </span>
            <span class="border-neutral-700 flex flex-row justify-between py-4 px-2">
                <h2 class="text-neutral-300">Dispositivos Vendidos</h2>
                <p class="text-white">+33000</p>
            </span>
        </div>
    </span>
    <span class="flex flex-row md:flex-col gap-6 relative overflow-x-scroll pb-4
    [&::-webkit-scrollbar-track]:bg-background [&::-webkit-scrollbar-thumb]:bg-secondary
    [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar]:h-2">
        <img class="h-auto w-full aspect-video rounded-lg" src="./OurMission.webp" alt="">
        <img class="h-auto w-full aspect-video rounded-lg" src="./OurMission.webp" alt="">
        <img class="h-auto w-full aspect-video rounded-lg" src="./OurMission.webp" alt="">
    </span>
</section>