---
import Card from "@/components/Card.astro";

const info = [
    {
        title: "Cambio de bateria",
        image: "./OurMission.webp",
        description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dolor elit, ultrices in purus quis, dignissim facilisis nunc. Maecenas vitae turpis magna. Nullam euismod est nisl. Vestibulum quis ipsum vel mauris placerat lobortis."
    },{
        title: "Reacondicionamiento",
        image: "./OurMission.webp",
        description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dolor elit, ultrices in purus quis, dignissim facilisis nunc. Maecenas vitae turpis magna. Nullam euismod est nisl."
    },{
        title: "Limpieza a fondo",
        image: "./OurMission.webp",
        description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dolor elit, ultrices in purus quis, dignissim facilisis nunc. Maecenas vitae turpis magna. Nullam euismod est nisl. Vestibulum quis ipsum vel mauris placerat lobortis."
    }
]
---
<section class="relative flex flex-row size-full min-h-[400px] justify-center py-6 md:py-12 overflow-auto 
[&::-webkit-scrollbar-track]:bg-background [&::-webkit-scrollbar-thumb]:bg-secondary
[&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar]:h-2">
    <div class="absolute inset-0 md:static grid grid-cols-3 w-[1296px] md:w-3/4 gap-12">
        {
            info.map((item) => {
                return <Card title={item.title} image={item.image} description={item.description}></Card>
            })
        }
    </div>
</section>