---
import Send from "@/icons/Send.astro";


---
<section class="flex flex-col gap-3 md:gap-6 py-6 md:py-12">
    <div class="grid md:grid-cols-2 gap-8">
        <span class="relative grid place-items-center text-white font-bold">
            <img class="w-full h-auto aspect-video rounded-lg grayscale brightness-50" src="./OurMission.webp" alt="">
            <div class="absolute inset-0 flex flex-col justify-center gap-3 md:gap-6 px-5 md:px-10 bg-gradient-to-t from-neutral-900 to-transparent">
                <h2 class="text-white text-xl md:text-3xl font-bold">Unamos fuerzas</h2>
                <p class="text-neutral-300 text-sm md:text-base">Complete el siguiente formulario o visítenos en nuestra oficina en Vélez-Málaga para conversar
                    sobre cómo podemos colaborar en su próximo proyecto. Estaremos encantados de explorar oportunidades juntos y brindarle
                    soluciones personalizadas para su negocio.</p>
            </div>
        </span>
        <span class="grid place-items-center text-white text-3xl font-bold">
            <form action="" class="flex flex-col items-start justify-around w-full h-full gap-4">
                <span class="flex flex-row gap-4 justify-between w-full">
                    <input type="text" placeholder="Nombre*" class="w-full text-sm p-2 outline-none border border-neutral-300 rounded-lg bg-transparent">
                    <input type="text" placeholder="Teléfono" class="text-sm p-2 outline-none border border-neutral-300 rounded-lg bg-transparent">
                </span>
                <input type="text" placeholder="Email*" class="w-full text-sm p-2 outline-none border border-neutral-300 rounded-lg bg-transparent">
                <span class="flex flex-row gap-4 justify-between w-full">
                    <input type="text" placeholder="Empresa" class="text-sm p-2 outline-none border border-neutral-300 rounded-lg bg-transparent">
                    <input type="text" placeholder="Asunto" class="w-full text-sm p-2 outline-none border border-neutral-300 rounded-lg bg-transparent">
                </span>
                <textarea name="message" id="message" cols="5" placeholder="Mensaje*" class="text-sm p-2 outline-none border border-neutral-300 rounded-lg bg-transparent resize-none w-full h-40"></textarea>
                <span class="w-full flex flex-row justify-end">
                    <button class="flex flex-row items-center gap-2 bg-neutral-300 text-neutral-900 py-4 px-6 rounded-full size-fit hover:scale-105 hover:bg-primary transition-all">
                        <p class="text-sm font-bold">Enviar</p>
                        <Send></Send>
                    </button>
                </span>
            </form>
        </span>
    </div>
</section>