---

---
<section class="flex flex-col gap-12">
    <h1 class="text-6xl font-medium text-white leading-snug">
        Impulsa tu negocio con iPhones reacondicionados de calidad: stock amplio, entregas rápidas y garantía confiable.
    </h1>
    <p class="text-neutral-300 text-xl w-1/2">
        Descubre la mejor selección de iPhones reacondicionados en España. Conoce nuestro stock, precios y garantías.
    </p>
    <span>
        <a href="/about" class="bg-white text-neutral-900 font-bold py-4 px-6 rounded-full flex flex-row w-fit hover:scale-105 transition-all">Saber más</a>
    </span>
</section>