---
import Star from "@/icons/Star.astro";


---
<section class="w-full flex flex-col md:flex-row justify-around">
    <div class="group/degree-a relative flex flex-col items-center gap-4">
        <h2 class="text-primary font-bold text-2xl group-hover/degree-a:[text-shadow:_1px_1px_5px_#d4d4d4]">Grado A</h2>
        <span class="text-secondary flex flex-col gap-1 group-hover/degree-a:text-primary transition-all">
            <div class="flex flex-row justify-center gap-1">
                <p class="font-bold">Aspecto:</p>
                Casi sin marcas de uso
            </div>
            <div class="flex flex-row justify-center gap-1">
                <p class="font-bold">Condicion Técnica:</p>
                Todas las piezas son revisadas
            </div>
        </span>
        <img class="group-hover/degree-a:scale-105 transition-all" src="./mobileDegree.webp" alt="">
        <span class="absolute w-full bottom-0 flex flex-row justify-center gap-4">
            <Star class="text-yellow-300 size-16 group-hover/degree-a:fill-yellow-300 group-hover/degree-a:scale-125 transition-all"></Star>
            <Star class="text-yellow-300 size-16 group-hover/degree-a:fill-yellow-300 group-hover/degree-a:scale-125 delay-[100ms] transition-all"></Star>
            <Star class="text-yellow-300 size-16 group-hover/degree-a:fill-yellow-300 group-hover/degree-a:scale-125 delay-[200ms] transition-all"></Star>
            <Star class="text-yellow-300 size-16 group-hover/degree-a:fill-yellow-300 group-hover/degree-a:scale-125 delay-[300ms] transition-all"></Star>
            <Star class="text-yellow-300 size-16 group-hover/degree-a:fill-yellow-300 group-hover/degree-a:scale-125 delay-[400ms] transition-all"></Star>
        </span>
    </div>
    <div class="group/degree-b relative flex flex-col items-center gap-4">
        <h2 class="text-primary font-bold text-2xl group-hover/degree-b:[text-shadow:_1px_1px_5px_#d4d4d4]">Grado B</h2>
        <span class="text-secondary flex flex-col gap-1 group-hover/degree-b:text-primary transition-all">
            <div class="flex flex-row justify-center gap-1">
                <p class="font-bold">Aspecto:</p>
                Con marcas leves de uso
            </div>
            <div class="flex flex-row justify-center gap-1">
                <p class="font-bold">Condicion Técnica:</p>
                Todas las piezas son revisadas
            </div>
        </span>
        <img class="group-hover/degree-b:scale-105 transition-all" src="./mobileDegree.webp" alt="">
        <span class="absolute w-full bottom-0 flex flex-row justify-center gap-4">
            <Star class="text-yellow-300 size-16 group-hover/degree-b:fill-yellow-300 group-hover/degree-b:scale-125 transition-all"></Star>
            <Star class="text-yellow-300 size-16 group-hover/degree-b:fill-yellow-300 group-hover/degree-b:scale-125 delay-[100ms] transition-all"></Star>
            <Star class="text-yellow-300 size-16 group-hover/degree-b:fill-yellow-300 group-hover/degree-b:scale-125 delay-[200ms] transition-all"></Star>
            <Star class="text-yellow-300 size-16 group-hover/degree-b:fill-yellow-300 group-hover/degree-b:scale-125 delay-[300ms] transition-all"></Star>
        </span>
    </div>
    <div class="group/degree-c relative flex flex-col items-center gap-4">
        <h2 class="text-primary font-bold text-2xl group-hover/degree-c:[text-shadow:_1px_1px_5px_#d4d4d4]">Grado C</h2>
        <span class="text-secondary flex flex-col gap-1 group-hover/degree-c:text-primary transition-all">
            <div class="flex flex-row justify-center gap-1">
                <p class="font-bold">Aspecto:</p>
                Con marcas de uso notables
            </div>
            <div class="flex flex-row justify-center gap-1">
                <p class="font-bold">Condicion Técnica:</p>
                Todas las piezas son revisadas
            </div>
        </span>
        <img class="group-hover/degree-c:scale-105 transition-all" src="./mobileDegree.webp" alt="">
        <span class="absolute w-full bottom-0 flex flex-row justify-center gap-4">
            <Star class="text-yellow-300 size-16 group-hover/degree-c:fill-yellow-300 group-hover/degree-c:scale-125 transition-all"></Star>
            <Star class="text-yellow-300 size-16 group-hover/degree-c:fill-yellow-300 group-hover/degree-c:scale-125 delay-[100ms] transition-all"></Star>
            <Star class="text-yellow-300 size-16 group-hover/degree-c:fill-yellow-300 group-hover/degree-c:scale-125 delay-[200ms] transition-all"></Star>
        </span>
    </div>
</section>