---

---
<!-- <section class="flex flex-col items-center gap-4 h-[250px] bg-fixed bg-cover" style="background-image: url(./mobilesBanner.png)">
    <div class="bg-background/50 size-full flex justify-center items-center">
        <h2 class="text-primary font-bold text-3xl" style="text-shadow: 1px 1px 10px #171717;">Disponemos de una amplia variedad de dispositivos iPhone</h2>
    </div>
</section> -->

<section class="flex flex-col items-center gap-4 h-[350px] bg-cover" style="background-image: url(./mobilesBanner.webp)">
    <div class="bg-background/50 size-full flex justify-center items-center bg-gradient-to-t from-background via-transparent to-background">
        <h2 class="text-primary font-bold text-xl md:text-3xl text-center [text-shadow:_1px_1px_10px_#171717]">Disponemos de una amplia variedad de dispositivos iPhone</h2>
    </div>
</section>