---

---
<!-- Edit this section to get every logo element and do the animation from them. When the logo item goes to X -20% move the logo item to X 120% -->
<section class="flex flex-row gap-8 overflow-hidden whitespace-nowrap relative w-full py-12 text-neutral-300 after:absolute after:top-0 after:w-52 after:h-full after:z-10 
    after:left-0 after:bg-gradient-to-l after:from-transparent after:to-neutral-900 before:absolute before:top-0 before:w-52 before:h-full before:z-10 
    before:right-0 before:bg-gradient-to-r before:from-transparent before:to-neutral-900">
    <span class="flex flex-row gap-8 text-2xl font-bold animate-logo_slide hover:">
        <p>FullRenew</p>
        <p>NSYSTool</p>
        <p>FullRenew</p>
        <p>NSYSTool</p>
        <p>FullRenew</p>
        <p>NSYSTool</p>
        <p>FullRenew</p>
        <p>NSYSTool</p>
    </span>
    <span class="flex flex-row gap-8 text-2xl font-bold animate-logo_slide">
        <p>FullRenew</p>
        <p>NSYSTool</p>
        <p>FullRenew</p>
        <p>NSYSTool</p>
        <p>FullRenew</p>
        <p>NSYSTool</p>
        <p>FullRenew</p>
        <p>NSYSTool</p>
    </span>
</section>